<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="arm_2_link">
        <link name="arm_2">
            <inertial>
                <origin xyz="-0.0969237277353411 -0.0291865197737133 -0.0040109492904789" rpy="0 0 0"/>
                <mass value="0.0905770113739791"/>
                <inertia ixx="0.000181847676834499" ixy="-0.000159894636393793" ixz="-1.23882956634763E-05"
                         iyy="0.000301577324525151" iyz="-8.59097137039548E-06" izz="0.000449226081148877"/>
            </inertial>
            <visual>
                <geometry>
                    <mesh filename="package://capstone/meshes/arm_2/arm_2.obj"/>
                </geometry>
                <material name="arm_2_color"/>
            </visual>
            <collision>
                <geometry>
                    <mesh filename="package://capstone/meshes/arm_2/arm_2.obj"/>
                </geometry>
            </collision>
        </link>
    </xacro:macro>

</robot>