<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="base_link">
        <link name="base">
            <inertial>
                <origin xyz="3.83329097276627E-17 -4.29355650579034E-17 0.00492622466159051" rpy="0 0 0"/>
                <mass value="0.595685431532399"/>
                <inertia ixx="0.00234455610349601" ixy="4.4720262696295E-11" ixz="7.63618511306938E-20"
                         iyy="0.00402765803889398" iyz="-1.50621344482668E-19" izz="0.00631166014571594"/>
            </inertial>
            <visual>
                <geometry>
                    <mesh filename="package://capstone/meshes/base/base.obj"/>
                </geometry>
                <material name="base_color"/>
            </visual>
            <collision>
                <geometry>
                    <mesh filename="package://capstone/meshes/base/base.obj"/>
                </geometry>
            </collision>
        </link>
    </xacro:macro>

</robot>