<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="servo_joint_link">
        <link name="servo_joint">
            <inertial>
                <origin xyz="1.9495939582893E-07 5.41191680179675E-07 0.0203725729535382" rpy="0 0 0"/>
                <mass value="0.0668872208716784"/>
                <inertia ixx="9.60027536903093E-05" ixy="2.05989968635812E-05" ixz="4.93673327576366E-10"
                         iyy="8.05860489016923E-05" iyz="1.54361301454689E-09" izz="7.44832233305413E-05"/>
            </inertial>
            <visual>
                <geometry>
                    <mesh filename="package://capstone/meshes/servo_joint/servo_joint.obj"/>
                </geometry>
                <material name="servo_color"/>
            </visual>
            <collision>
                <geometry>
                    <mesh filename="package://capstone/meshes/servo_joint/servo_joint.obj"/>
                </geometry>
            </collision>
        </link>
    </xacro:macro>

</robot>